body {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  background-color: #0A1825;
  color: #ffffff;
  /* padding: 20px; */
  display: flex;
  flex-direction: column; /* Afficher les boutons en colonne */
  justify-content: space-between; /* Aligner les éléments en haut */
  align-items: flex-start; /* Aligner les éléments à gauche */
  width: 15%; /* Largeur du header (25% de la largeur de l'écran) */
  min-height: 100vh; /* Hauteur minimum pour occuper toute la hauteur de l'écran */
  
}

.header h1 {
  margin-top: 10%; /* Espacement pour placer le titre plus haut */
  margin-left: 10%;
  text-align: center; /* Centrer le texte du titre h1 */
}

.header-buttons {
  margin-bottom: 50%;
  margin-left: 25%;
  flex-direction: column; /* Afficher les boutons en colonne */
  
}

.header-buttons button {
  margin-bottom: 25%; /* Espacement entre les boutons */
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 150%; /* Les boutons remplissent la largeur du header */
  height: 0; /* Réinitialiser la hauteur */
  padding-top: 150%; /* Définir la hauteur égale à la largeur */
  display: flex; /* Utiliser flexbox pour centrer le texte */
  align-items: center; /* Aligner le contenu verticalement au centre */
  justify-content: center; /* Aligner le contenu horizontalement au centre */
}

.header-buttons button:hover {
  background-color: #45a049;
}




